.Category {
	margin: 10px 0;
	font-size: 16px;
	min-width: 160px;
	color: rgb(77, 77, 77);
	border-radius: 5px;
	/* outline-offset: 0; */
	outline: 0;
}

.Category:hover {
	cursor: pointer;
	color: black;
}
