.Home-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 100vw;
	min-height: 90vw;
	background-color: rgb(165, 230, 121);
}

.Product-container {
	width: 80%;
	display: flex;
	background-color: #e4e27f;
	flex-wrap: wrap;
	justify-content: center;
}

.count-row {
	margin: 10px 0;
}

button {
	min-width: 30px;
	min-height: 25px;
	margin: 10px 5px;
	background-color: #5d96ec;
	border: none;
	border-radius: 5px;
	font-size: 18px;
}

button:hover {
	cursor: pointer;
	background-color: rgb(38, 100, 194);
	color: beige;
}
