.Card-container {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 60vw;
	min-height: 70vh;
}

.Card-image {
	width: 200px;
	margin: 0 0 20px 0;
}
