.Header-container {
	display: flex;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 95%;
	justify-content: space-between;
	align-items: center;
	min-height: 10vh;
	background-color: #8aa9cf;
	padding: 0 40px;
	margin: 0 auto 20px 0;
}

/* .Main-btn {
	padding: 10px 20px;
	min-width: 30px;
	min-height: 25px;
	margin: 0 25px;
	background-color: #fff;
	border: none;
	border-radius: 5px;
	font-size: 18px;
}

.Main-btn:hover {
	cursor: pointer;
	background-color: rgba(46, 0, 105, 0.555);
	color: #fff;
} */

.Title-shop {
	text-decoration: none;
	color: rgb(46, 0, 105);
}

.Title-shop:hover {
	color: rgba(46, 0, 105, 0.801);
}

.Basket {
	display: flex;
	/* margin: 0 20px; */
	text-decoration: none;
	color: #222;
	align-items: center;
}

.Basket:hover {
	color: #ffffff;
}

.Input-search {
	width: 40vw;
	height: 20px;
	padding: 5px;
	border-radius: 5px;
	border: none;
	margin: 0 10px;
	/* margin: 0 0 20px 0; */
}

.Header-page-center {
	display: flex;
	flex-direction: column;
	margin: 0 0 20px 0;
	align-items: center;
}

h1 {
	margin: 20px 0;
}

@media screen and (max-width: 780px) {
	.Header-container {
		display: flex;
		height: 150px;
		flex-direction: column;
	}

	.Input-search {
		width: 70vw;
		height: 20px;
		padding: 5px;
		border-radius: 5px;
		border: none;
	}

	h1 {
		margin: 10px 0;
	}
}
