.Header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 100vw;
	min-height: 10vh;
	background-color: #8aa9cf;
	padding-right: 15px;
	margin: 0 auto 20px 0;
}

.Main-btn {
	padding: 10px 20px;
	min-width: 30px;
	min-height: 25px;
	margin: 0 25px;
	background-color: #fff;
	border: none;
	border-radius: 5px;
	font-size: 18px;
}

.Main-btn:hover {
	cursor: pointer;
	background-color: rgba(46, 0, 105, 0.555);
	color: #fff;
}

.Title-shop {
	text-decoration: none;
	color: rgb(46, 0, 105);
}

.Title-shop:hover {
	color: rgba(46, 0, 105, 0.801);
}

.Basket {
	margin: 0 20px;
	text-decoration: none;
	color: #222;
}

.Basket:hover {
	color: #ffffff;
}

.Input-search {
	width: 500px;
	height: 20px;
	padding: 5px;
	border-radius: 5px;
	border: none;
	margin: 0 0 20px 0;
}

.Header-page-center {
	display: flex;
	flex-direction: column;
	margin: 0 0 20px 0;
	align-items: center;
}

h1 {
	margin: 20px 0;
}
